.intro-wrap {

}
.intro-wrap .p-img-con {
    float: left;
    width: 420px;
}
.intro-wrap .p-img-con .main-img-con {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}
.intro-wrap .p-img-con .main-img-con .main-img {
    width: 100%;
    height: 100%;
}
.intro-wrap .p-img-con .p-img-list {
    margin-top: 5px;
    margin-right: -10px;
    height: 76px;
    overflow: hidden;
}
.p-img-con .p-img-list .p-img-item {
    float: left;
    margin-right: 10px;
    width: 72px;
    height: 72px;
    border: 2px solid #eee;
    cursor: pointer;
}
.p-img-con .p-img-list .p-img-item:hover { border: 2px solid #c60023; }
.p-img-list .p-img-item .p-img {
    width: 100%;
    height: 100%;
}

.intro-wrap .p-info-con {
    float: left;
    margin-left: 20px;
    width: 640px;
}
.intro-wrap .p-info-con .p-name {
    font-size: 20px;
    color: #333;
}
.intro-wrap .p-info-con .p-subtitle {
    line-height: 30px;
    font-size: 15px;
    color: #c60023;
}
.intro-wrap .p-info-con .p-info-item {
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
}
.intro-wrap .p-info-con .p-info-item.p-price-con {
    padding: 10px;
    background-color: #eee;
}
.intro-wrap .p-info-con .p-info-item .label {
    display: inline-block;
    width: 50px;
    color: #999;
}
.intro-wrap .p-info-con .p-info-item .info {
    font-size: 18px;
    color: #c60023;
}
.p-info-item.p-count-con .p-count {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
}
.p-info-item.p-count-con .p-count-btn {
    position: absolute;
    left: 115px;
    display: block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.p-info-item.p-count-con .p-count-btn.plus { top: 0; }
.p-info-item.p-count-con .p-count-btn.minus { bottom: 0; }

.detail-wrap {
    margin-top: 15px;
}
.detail-wrap .detail-tab-con {

}
.detail-wrap .detail-tab-con .tab-list {
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom: 1px solid #c60023;
}
.detail-wrap .detail-tab-con .tab-list .tab-item {
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.detail-wrap .detail-tab-con .tab-list .tab-item.active {
    color: #fff;
    background-color: #c60023;
}
.detail-wrap .detail-con {
    padding-top: 20px;
    background-color: #fff;
}
.detail-wrap .detail-con img {
    display: block;
    margin: 0 auto;
}
.error-tip {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #f60;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}
