<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> -- MMail电商平台</title>
</head>
<body>
<%= require('html-loader!./layout/nav-simple.html') %>

<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">用户登录</div>
            <div class="user-box">
                <div class="error-item" id="errItem">
                    <i class="fa fa-minus-circle error-icon"></i>
                    <p class="err-msg errMsg">error</p>
                </div>
                <div class="user-item">
                    <label class="user-label" for="userName" ><i class="fa fa-user"></i></label>
                    <input class="user-content" id="userName" placeholder="请输入用户名" autocomplete="off" type="text" />
                </div>
                <div class="user-item">
                    <label class="user-label"  for="password"><i class="fa fa-lock"></i></label>
                    <input class="user-content" id="password" placeholder="请输入密码" autocomplete="off" type="password" />
                </div>
                <a class="btn btn-danger btn-lg btn-block btn-submit" id="submit">登录</a>
                <div class="link-item">
                    <a class="link" href="./user-pass-reset.html">忘记密码</a>
                    <a class="link" href="./user-register.html">免费注册</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>
